<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-body">
                <table class="table table-bordered table-hover" *ngIf="employeeList && employeeList.length">
                    <thead>
                        <tr>
                            <th>Action</th>
                            <th>Name</th>
                            <th>NationalIDNumber</th>
                            <th>JobTitle</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let employee of employeeList">
                            <td>
                                <a class="btn btn-info btn-sm" [routerLink]="['/employees', employee.id]">View</a>
                                <a class="btn btn-info btn-sm" [routerLink]="['/employees/edit', employee.id]">Edit</a>
                            </td>
                            <td>{{ employee.name }}</td>
                            <td>{{ employee.nationalIdNumber }}</td>
                            <td>{{ employee.jobTitle }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row top-buffer">
    <div class="col-md-12">
        <a routerLink="/employees/create" class="btn btn-success"><i class="glyphicon glyphicon-plus"></i>Add Employee</a>
    </div>
</div>